---

const { item } = Astro.props;
const types =[ '1', '2', '3']
const background = '#32569B'
background = "#fff"

---
<div>
{types.map((type) => (
    <>
    <section>

        <div class="py-[120px] detail" style={"background-color: " + background + ";"}>
            <div class="container">
                <div class="flex detail-box">
                    <div class="w-[58%] mr-7 left">
                        <img class="w-full" src={"/images/projects/" + item.image} alt="">
                    </div>
                        <div class="w-[40%] right" >
                            <p class="text-[30px] font-extrabold text-primary-hover mb-6">Project Overview</p>
                            <p class="text-18px text-[#666666] font-light mb-12">{ item.direction }{ background }</p>
                            {item.status && item.status != "" 
                            ? 
                            <div class="flex items-center relative">
                                <p class="text-18px font-semibold absolute left-0 bottom-1/2 translate-y-1/2">Project Status</p>
                                <div class="h-[22px] w-full pl-[160px]">
                                    <p class="text-18px font-light text-[#555555] ">{ item.status }</p>
                                </div>
                            </div>
                            <div class="w-[50px] h-[1px] bg-primary-hover mt-2 mb-6"></div>
                            : 
                            <span></span>
                            }
                                
                            {item.type && item.type != "" 
                            ? 
                                <div class="flex items-center relative">
                                    <p class="text-18px font-semibold absolute left-0 bottom-1/2 translate-y-1/2">Type</p>
                                    <div class="h-[22px] w-full pl-[160px]">
                                        <p class="text-18px font-light text-[#555555] ">{ item.type }</p>
                                        </div>
                                    </div>
                                <div class="w-[50px] h-[1px] bg-primary-hover mt-2 mb-6"></div>
                            : 
                            <span></span>
                            }
                                
                            {item.location && item.location != "" 
                            ? 
                            <div class="flex items-center relative">
                                <p class="text-18px font-semibold absolute left-0 bottom-1/2 translate-y-1/2">Location</p>
                                <div class="h-[22px] w-full pl-[160px]">
                                    <p class="text-18px font-light text-[#555555] ">{ item.location }</p>
                                    </div>
                                    </div>
                                    <div class="w-[50px] h-[1px] bg-primary-hover mt-2 mb-6"></div>
                            : 
                            <span></span>
                            }
                                
                            {item.area  && item.area != "" 
                            ? 
                                <div class="flex items-center relative">
                                    <p class="text-18px font-semibold absolute left-0 bottom-1/2 translate-y-1/2">Area</p>
                                    <div class="h-[22px] w-full pl-[160px]">
                                        <p class="text-18px font-light text-[#555555] ">{ item.area }</p>
                                    </div>
                                </div>
                                <div class="w-[50px] h-[1px] bg-primary-hover mt-2 mb-6"></div>
                            : 
                            <span></span>
                            }
                    
                            <button class="">
                                <a href="#">Schedule a visit</a>
                            </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </>
))}
</div>
            
        <script define:vars={{types}}>
            console.log(types);
            
        </script>
            
            
            <style lang="scss">
                .detail{
                    button{
                        margin-top: 50px;
                        a{
                            padding: 15.5px 32px;
                            border-radius: 2px;
                            background-color: var(--primary-hover);
                            color: #fff;
                            font-weight: 600;
                        }
                    }
                }
                @media (max-width: 767px) {
                    .detail{
                        .detail-box{
                            flex-wrap: wrap;
                            .left, .right{
                                width: 90%;
                            }
                            .left{
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
                </style>