---

// const contacts = await Astro.glob('../../markdown/layout/contact.md');

const servicesList = [
    'Property Construction', 'Investor Relations', 'Community Development', 'Property Management', 'Floor Designing', 'Re-Construct Buildings'
];

const aboutUss = [
    'Mission and Vision', 'Our Projects', 'Latest Articles', 'Media Presentation', 'Pricing Structure', 'Terms & Conditions'
]

const response = await fetch('https://estate-strapi.srv01.dtsmart.dev/api/footer?populate=*');
const response2 = await fetch('https://estate-strapi.srv01.dtsmart.dev/api/footer?populate=infomation.logo,our_gallery.image');

const obj = await response.json();
const obj2 = await response2.json();
const data =  obj.data.attributes;
const services = data.services;
const aboutUs =  data.about_us;
const ourGallerys =  obj2.data.attributes.our_gallery;
const infomation = data.infomation
const logo = obj2.data.attributes.infomation.logo.data.attributes.url
const baseUrl = "https://estate-strapi.srv01.dtsmart.dev"

// console.log(ourGallerys[0].image.data.attributes.url);



---
    
    <!-- footer 
        ================================================== -->
        <footer class="bg-primary border-bottom">
            <div class="flex flex-wrap justify-between container footer">
                <div class="max-w-[360px] item">
                    <a class="navbar-brand" href="/">
                        <!-- <img class="" src="/logo.png" alt=""> -->
                        <img class="" src={baseUrl + logo} alt="">

                    </a>
                    <p class="text-18px font-light text-gray mb-8">{ infomation.description }</p>
                    <div class="mb-7 flex">
                        <i class="fa fa-map-marker text-white text-3xl mr-2"></i>
                            <p class="text-18px font-light text-gray">{ infomation.adress }</p>
                    </div>
                    <div class="flex items-center phone">
                        <div class="flex-center bg-white w-14 h-14 rounded-[50%] mr-4">
                            <i class="fa fa-phone text-primary text-3xl"></i>
                        </div>
                        <div>
                            <p class="text-14px text-white font-light mb-1">Call Us</p>
                                <a class="text-2xl text-white hover:text-primary-hover font-extrabold" href={'tel:' + infomation.phone}>
                                    { infomation.phone  }
                                </a>
                        </div>
                    </div>
                </div>

                <div class="max-w-[330px] item">
                    <div class="widget mt-7 mb-6">
                        <p class="text-2xl text-white font-extrabold">SERVICE</p>
                    </div>
                    <div class="flex flex-col">
                    {services.map((item) => (
                        <>
                            <a class="text-18px text-gray font-light link py-3" href={ item.url }>
                                { item.title  }
                            </a>
                        </>
                    ))}
                    </div>
                </div>

                <div class="max-w-[210px] item">
                    <div class="widget mt-7 mb-6">
                        <p class="text-2xl text-white font-extrabold">INTRODUCE</p>
                    </div>
                    <div class="flex flex-col">
                    {aboutUs.map((item) => (
                        <>
                            <a class="text-18px text-gray font-light link py-3" href={ item.url }>
                                { item.title  }
                            </a>
                        </>
                    ))}
                    </div>
                </div>

                <div class="max-w-[270px] item">
                    <div class="widget mt-7 mb-6">
                        <p class="text-2xl text-white font-extrabold">LIBRARY</p>
                    </div>
                    <div class="grid">
                        {ourGallerys.map((item) => (
                            <>
                                <div>
                                    <img src={baseUrl + item.image.data.attributes.url}  alt="" />
                                </div>
                            </>
                        ))}
                    </div>
                </div>
            </div>
            <!-- <p class="copyright bg-primary">
                &copy; Copyright 2016. "Konstrukt" by Nunforest. All rights reserved.
            </p> -->
        </footer>
    <!-- End footer -->


    <style lang="scss">

        .footer{
            // background: #1e1e1e;
            padding-top: 113px;
            padding-bottom: 50px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            .item{
                .link{
                    &:hover{
                        transition-delay: 50ms;
                        transform: translateX(8px);
                    }
                }
                .widget{
                    padding-bottom: 10px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 35px;
                        height: 2px;
                        left: 0px;
                        bottom: 0px;
                        background: #fff;
                    }
                }
                .navbar-brand{
                    margin-bottom: 37px;
                    img{
                        width: 236px;
                        height: auto;
                    }
                }
                .grid{
                    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
                    gap: 15px;
                }
            }
            @media (max-width: 1023px) {
                .item{
                    width: 45%;
                    max-width: unset;
                    margin-bottom: 10px;
                }
                .grid{
                    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
                    gap: 10px;
                }
            }
            @media (max-width: 767px) {
                .item{
                    width: 95%;
                    max-width: unset;
                    margin-bottom: 50px;
                }
                .phone{
                    .flex-center{
                        width: 40px;
                        height: 40px;
                    }
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    </style>