---

const contacts = await Astro.glob('../../pages/component/contact.md');


---
    
    <!-- footer 
        ================================================== -->
        <footer>
            <div class="up-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-widget">
                                <h2>About Us</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna.</p>
                                <img src="images/footer-logo.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-widget">
                                <h2>Tags</h2>
                                <ul class="tag-list">
                                    <li><a href="#">Building</a></li>
                                    <li><a href="#">interior</a></li>
                                    <li><a href="#">isolation</a></li>
                                    <li><a href="#">kitchen</a></li>
                                    <li><a href="#">energy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-widget">
                                <h2>Navigation</h2>
                                <ul class="navigation">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-widget info-widget">
                                <h2>Info</h2>
                                <p class="first-par">You can contact or visit us during working time.</p>
                                {contacts.map((item) => (
                                    <>
                                        <p><span>Tel: </span> {item.frontmatter.phone}</p>
                                        <p><span>Email: </span> {item.frontmatter.mail}</p>
                                        <p><span>Working Hours: </span>{item.frontmatter.workingTime}</p>
                                    </>
                                ))}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright">
                &copy; Copyright 2016. "Konstrukt" by Nunforest. All rights reserved.
            </p>
        </footer>
    <!-- End footer -->