---

import logo from '../../assets/logo.png'
import { Image } from '@astrojs/image/components';

const posts = await Astro.glob('../../pages/component/contact.md');
const navList = [
        {name: 'Home', url: '/', dropDowm:[
           {name: 'Test1', url: '/'},
           {name: 'Test2', url: '/'},
           {name: 'Test3', url: '/'},
        ]},
        {name: 'About', url: '/'},
        {name: 'Service', url: '/', dropDowm:[
           {name: 'Paver', url: '/'},
           {name: 'Concrete', url: '/'},
           {name: 'Artificial turf', url: '/'},
           {name: 'Retaining wall', url: '/'},
           {name: 'Grass', url: '/'},
        ]},
        {name: 'Contact', url: '/'},
    ]

---
<ul class="flex">
    {navList.map((item) => (
        <Fragment>
            <li class="font-semibold mr-7">
                <a class="hover:text-primary" href={item.url}>
                    { item.name }
                </a>
            </li>    
        </Fragment>
    ))}
</ul>

<div id="container">
    <!-- Header
        ================================================== -->
    <header class="clearfix">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img class="" src="../../assets/logo.png" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- <ul class="nav navbar-nav navbar-right">
                        <li class="drop" v-for="(item , i) in navList" :key="i">
                            <a :href="item.url">{{ item.name }}</a>
                            <ul class="dropdown" v-if="item.dropDowm && item.dropDowm.length">
                                <li v-for="(item2 , y) in item.dropDowm">
                                    <a :href="item2.url">{{ item2.name }}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="search drop"><a href="#" class="open-search"><i class="fa fa-search"></i></a>
                            <form class="form-search">
                                <input type="search" placeholder="Search:"/>
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </li>
                    </ul> -->
                    <ul class="nav navbar-nav navbar-right">
                        {navList.map((item) => (
                            <Fragment>
                                <li class="drop">
                                    <a class="" href={item.url}>
                                        { item.name }
                                    </a>
                                    {
                                    item.dropDowm && item.dropDowm.length > 0 ?
                                        <ul class="dropdown">
                                            {item.dropDowm.map((item2) => (
                                                <>
                                                <li>
                                                    <a href={item2.url}>{ item2.name }</a>
                                                </li>
                                                </>
                                            ))}
                                        </ul>
                                        :
                                        null
                                    }
                                </li>   
                            </Fragment>
                        ))}
                        <li class="search drop"><a href="#" class="open-search"><i class="fa fa-search"></i></a>
                            <form class="form-search">
                                <input type="search" placeholder="Search:"/>
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </li> 
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>
</div>

<script>
    $(window).scroll(function() {
        console.log('asds', window.scrollY);
    })
</script>

<style lang="scss">
    .header{
        .phone-image{
            width: 52px;
            height: 52px;
            border-radius: 50%;
        }
    }
</style>
