---

import logo from '../../assets/logo.png'
import { Image } from '@astrojs/image/components';

const posts = await Astro.glob('../../markdown/layout/contact.md');
const projects = await Astro.glob('../../pages/projects/*.md');
 
const navList = [
        {name: 'Home', url: '/', dropDowm:[
           {name: 'Test1', url: '/'},
           {name: 'Test2', url: '/'},
           {name: 'Test3', url: '/'},
        ]},
        {name: 'About', url: '/'},
        {name: 'Projects', url: '/', dropDowm:[]},
        {name: 'Contact', url: '/'},
    ]
    projects.forEach((e) => {
        let item = {
            name: e.frontmatter.service,
            url: e.url
        }
        navList[2].dropDowm.push(item)
    })

---

<div class="relative h-[0px]">
    <header class="header absolute top-0" id="header">
        <div class="flex items-center h-full w-full justify-between container">
            <a class="navbar-brand" href="/">
                <img class="" src="/logo.png" alt="">
            </a>
            <ul class="h-full flex items-center nav-list">
                {navList.map((item) => (
                    <Fragment>
                        <li class="h-full flex-center relative item mx-6">
                            <a class="text-white hover:text-yellow text-18px font-medium" href={item.url}>
                                { item.name }
                            </a>
                            {
                            item.dropDowm && item.dropDowm.length > 0 ?
                                <ul class="bg-primary dropdown">
                                    {item.dropDowm.map((item2) => (
                                        <>
                                        <li class="flex items-center">
                                            <a class="text-white hover:text-yellow px-7" href={item2.url}>{ item2.name }</a>
                                        </li>
                                        </>
                                    ))}
                                </ul>
                                :
                                null
                            }
                        </li>   
                    </Fragment>
                ))}
            </ul>
            <div class="flex items-center phone">
                <div class="flex-center bg-transparent w-14 h-14 rounded-[50%] mr-4">
                    <i class="fa fa-phone text-white text-3xl"></i>
                </div>
                <div>
                    <p class="text-14px text-white font-light mb-1">Start a New Project</p>
                    {posts.map((item) => (
                        <>
                            <a class="text-2xl text-white hover:text-primary-hover font-extrabold" href={'tel:' + item.frontmatter.phone}>
                                { item.frontmatter.phone  }
                            </a>
                        </>
                    ))}
                </div>
            </div>
        </div>
    </header>
</div>

<script>
    $(window).scroll(function() {
        if(window.scrollY >= 100){
            // console.log(window.scrollY);
            $( "#header" ).addClass( "fixed" );
        }
        else{
            $( "#header" ).removeClass( "fixed" );

        }
    })
</script>

<style lang="scss">
    .header{
        background-color: transparent !important;
        height: 120px;
        width: 100%;
        animation-name: fadeInUp;
        animation-timing-function: linear;
        animation-duration: 500ms;
        // transition: .3s;
        &.fixed{
            height: 90px;
            position: fixed !important;
            background-color: var(--primary) !important;
            animation-name: fadeInDown;
            .phone{
                .bg-transparent{
                    background-color: #fff !important;
                    i{
                        color: var(--primary);
                    }
                }
            }
        }
        z-index: 1000;
        .phone-image{
            width: 52px;
            height: 52px;
            border-radius: 50%;
        }
        .navbar-brand{
            img{
                width: 230px;
                height: 46px;
            }
        }
        .nav-list{
            .item{
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    .dropdown{
                        visibility: visible;
                        opacity: 1;
                        margin-top: 0px;
                    }
                }
                .dropdown{
                    top: 90px;
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 500ms ease;
                    transition-delay: 100ms;
                    margin-top: 15px;
                    li{
                        height: 45px;
                        width: 230px;
                        border-bottom: 1px solid rgba(255,255,255,0.1);
                    }
                }
            }
        }
        @keyframes fadeInDown {
            0% {
                opacity: 0;
                -webkit-transform: translateY(-20px);
                -ms-transform: translateY(-20px);
                transform: translateY(-20px);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
            }
        }
        @keyframes fadeInUp {
            0% {
                opacity: 0;
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
                background-color: transparent;
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(-20);
                -ms-transform: translateY(-20);
                transform: translateY(-20);
                background-color: var(--primary) !important;
            }
        }
    }
</style>
