---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/home/Slider.astro'
import Service from '../components/home/Service.astro'
import Project from '../components/home/Project.astro'
import Client from '../components/home/Client.astro'



---

<Layout title="Landscaping Company">
	<main class="">
		<Slider />
		<Project />
		<!-- <Service />
		<Client /> -->
	</main>
</Layout>

<style>
</style>

<script>
</script>
