/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container{
        @apply mx-auto;
    }
}

@layer utilities {
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container{
    @media (min-width: 1280px) {
        max-width: 1200px !important;
    }
    @media (max-width: 639px) {
        padding: 0 5%;
    }
    margin-left: auto;
    margin-right: auto;
}
}

.container{
    @media (min-width: 1280px) {
        max-width: 1200px !important;
    }
    @media (max-width: 639px) {
        padding: 0 5%;
    }
    margin-left: auto;
    margin-right: auto;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}