---
import Layout from "../layouts/Layout.astro";

// const services = await Astro.glob('/*md')
const { frontmatter } = Astro.props;
---

<Layout title="Landscaping Company">
    <main>
        <div class="project-page">
            <div class="flex-center title">
                <p class="text-[68px] text-white font-extrabold">
                    { frontmatter.service }
                </p>
            </div>

            <div class="py-[120px] detail">
                <div class="container">
                    <div class="flex detail-box">
                        <div class="w-[58%] mr-7 left">
                            <img class="w-full" src={"/images/projects/" + frontmatter.image} alt="">
                        </div>
                        <div class="w-[40%] right" >
                            <p class="text-[30px] font-extrabold text- mb-6">Project Overview</p>
                            <p class="text-18px text-[#666666] font-light mb-12">{ frontmatter.direction }</p>
                            {frontmatter.status && frontmatter.status != "" 
                                ? 
                                <div class="flex items-center relative">
                                    <p class="text-18px font-semibold absolute left-0 bottom-1/2 translate-y-1/2">Project Status</p>
                                    <div class="h-[22px] w-full pl-[160px]">
                                        <p class="text-18px font-light text-[#555555] ">{ frontmatter.status }</p>
                                    </div>
                                </div>
                                <div class="w-[50px] h-[1px] bg-primary-hover mt-2 mb-6"></div>
                                : 
                                <span></span>
                            }

                            {frontmatter.type && frontmatter.type != "" 
                            ? 
                            <div class="flex items-center relative">
                                <p class="text-18px font-semibold absolute left-0 bottom-1/2 translate-y-1/2">Type</p>
                                <div class="h-[22px] w-full pl-[160px]">
                                    <p class="text-18px font-light text-[#555555] ">{ frontmatter.type }</p>
                                </div>
                            </div>
                            <div class="w-[50px] h-[1px] bg-primary-hover mt-2 mb-6"></div>
                            : 
                            <span></span>
                            }

                            {frontmatter.location && frontmatter.location != "" 
                            ? 
                            <div class="flex items-center relative">
                                <p class="text-18px font-semibold absolute left-0 bottom-1/2 translate-y-1/2">Location</p>
                                <div class="h-[22px] w-full pl-[160px]">
                                    <p class="text-18px font-light text-[#555555] ">{ frontmatter.location }</p>
                                </div>
                            </div>
                            <div class="w-[50px] h-[1px] bg-primary-hover mt-2 mb-6"></div>
                            : 
                            <span></span>
                            }

                            {frontmatter.area  && frontmatter.area != "" 
                            ? 
                            <div class="flex items-center relative">
                                <p class="text-18px font-semibold absolute left-0 bottom-1/2 translate-y-1/2">Area</p>
                                <div class="h-[22px] w-full pl-[160px]">
                                    <p class="text-18px font-light text-[#555555] ">{ frontmatter.area }</p>
                                </div>
                            </div>
                            <div class="w-[50px] h-[1px] bg-primary-hover mt-2 mb-6"></div>
                            : 
                            <span></span>
                            }

                            <button class="">
                                <a href="#">Schedule a visit</a>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</Layout>

<script define:vars={{frontmatter}}>
</script>

<style lang="scss">
    .project-page{
        .title{
            width: 100%;
            height: 550px;
            background-image: url('/images/page-title.png');
            background-size: cover;
            position: relative;
            p{
                z-index: 10;
            }
            &::before{
                position: absolute;
                content: '';
                background: #000;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                opacity: 0.7;
                z-index: 1;
            }
        }
        .detail{
            button{
                margin-top: 50px;
                a{
                    padding: 15.5px 32px;
                    border-radius: 2px;
                    background-color: var(--primary-hover);
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
        @media (max-width: 767px) {
            .detail{
                .detail-box{
                    flex-wrap: wrap;
                    .left, .right{
                        width: 90%;
                    }
                    .left{
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
</style>